@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
/*
   
        .line-p1-1of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p1-2of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p2-1of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p2-2of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p3-1of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p3-2of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p4-1of2{
        border-left: 6px solid black;
        height: 100px;
      }
      .line-p4-2of2{
        border-left: 6px solid black;
        height: 200px;
      }
      .line-p5-1of2{
        border-left: 6px solid black;
        height: 200px;
      }
      .line-p5-2of2{
        border-left: 6px solid black;
        height: 200px;
      }
      .line-p6-1of2{
        border-left: 6px solid black;
        height: 200px;
      }
      .line-p6-2of2{
        border-left: 6px solid black;
        height: 200px;
      }

    .title {
        position: absolute;
        width: 15%;
        height: 15%;
        border: 2px solid #a9ff68;
        border-radius: 38% 22% 63% 37% / 41% 44% 56% 59%;
        transition: 0.5s;
        animation: title 5s linear infinite;
      }
           
      .title span:nth-child(2) {
        position: absolute;
        width: 10%;
        height: 10%;
        border: 2px solid #a9ff68;
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        transition: 0.5s;
        animation: title 4s linear infinite;
      }
         
      .title{
        position: absolute;
        width: 10%;
        height: 10%;
        border: 2px solid #a9ff68;
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        transition: 0.5s;
        animation: title2 10s linear infinite;
      }

      @keyframes title{
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes title2 {
        0% {
          transform: rotate(360deg);
        }
      
        100% {
          transform: rotate(0deg);
        }
      }
    
    */
}